
device-ts/node_modules/
device-ts/build
device-ts/.DS_Store
device-ts-2/node_modules/
device-ts-2/build
device-ts-2/.DS_Store
.DS_Store
device-ts/mongodb-realm/
device-ts-2/mongodb-realm/
atlas-backend/credentials.txt
mobile-swift/Controller.xcodeproj/project.xcworkspace/xcuserdata/
mobile-swift/Controller.xcodeproj/xcuserdata/felix.reichenbach.xcuserdatad/xcschemes/xcschememanagement.plist
edge_server/config.json
edge_server/certs
